.logButton{
  padding: 0.5em 1em;
  margin-top: 0.7em;
  color: #000;
  border: none;
  border-radius: 0.5em;
  font-size: 1em;
  display: inline-block;
}

.input-sign-in{
	margin-top: 1.4em;
	border: none;
	border-bottom: 1px solid #000;
	font-size: 1em;
	width: 100%;
}

.input-sign-in-2{
	margin: 1em 0 1.3em 0;
	border: none;
	border-bottom: 1px solid #000;
	font-size: 1em;
	width: 100%;
}